Library/
Temp/
.vs/
.idea/
.vsconfig
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor.csproj.user
obj/
*.apk
*.csproj
/Build/
Assembly-CSharp.csproj.user
NUL
*.lnk
*.sln
/Bundles/
ShaderTripperLogs/
Logs/
/URS/
/Assets/StreamingAssets/sandbox
/Assets/StreamingAssets/sandbox.meta
UserSettings/
Assets/BuildReports.meta
/Cache/
